html, body {
  height: 100%;
  margin: 0;
}

body {
  min-height: 100vh;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  padding: .75em;
  margin-bottom: 1.5em;
  background-color: orange;
  border: 1px solid rgb(97, 63, 0);
  border-radius: 5px;
  box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.25);
}
.container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  height: 70vh;
  width: 70vh;
  margin-bottom: 1em;
}
.squareDiv {
  border: 1px solid black;
}
.inactive {
  background-color: rgb(255,255, 146);
}
.active {
  background-color: rgb(75, 75, 44);
}